<div class="container-fluid">

    

   
        

            
    <!-- end row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">


                    <h4 class="card-title mb-4">PRODUCTOS</h4>
                    
                    <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs nav-tabs-custom">
                        <li [ngbNavItem]="1">
                            <a ngbNavLink>Todos</a>
                            <ng-template ngbNavContent>
                                <div class="row mb-md-2">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length" id="tickets-table_length"><label
                                                class="d-inline-flex align-items-center">Mostrar
                                                <select name="tickets-table_length" aria-controls="tickets-table"
                                                    name="pageSize" [(ngModel)]="service.pageSize"
                                                    class="custom-select custom-select-sm form-control form-control-sm mx-2">
                                                    <option [ngValue]="10">10</option>
                                                    <option [ngValue]="25">25</option>
                                                    <option [ngValue]="50">50</option>
                                                    <option [ngValue]="100">100</option>
                                                </select> entradas.</label></div>
                                    </div>
                                    <!-- Search -->
                                    <div class="col-sm-12 col-md-6">
                                        
                                        <div id="tickets-table_filter" class="dataTables_filter text-md-end"><label
                                                class="d-inline-flex align-items-center">Buscar:
                                                <input type="text" name="searchTerm"
                                                    class="form-control form-control-sm ms-2"
                                                    aria-controls="tickets-table"
                                                    [(ngModel)]="service.searchTerm"></label></div>
                                    </div>
                                    <!-- End search -->
                                </div>
                                <!-- Table -->
                                <table id="basic-datatable" class="table datatables dt-responsive nowrap">
                                    <thead>
                                        <tr>
                                            <th sortable="id" (sort)="onSort($event)">Código</th>
                                            <th sortable="date" (sort)="onSort($event)">Descripción Producto</th>
                                            <th sortable="date" (sort)="onSort($event)">Stock</th>
                                            <th sortable="type" (sort)="onSort($event)">Medida</th>
                                            <th sortable="currency" (sort)="onSort($event)">Marca/Modelo</th>
                                            <th sortable="amount" (sort)="onSort($event)">Precio Compra</th>
                                            <th sortable="usd" (sort)="onSort($event)">Precio Venta</th>
                                            
                                            <th sortable="usd" (sort)="onSort($event)">Observación</th>
                                            <th sortable="usd" (sort)="onSort($event)"><i class="bx bx-cog btn-lg"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let producto of productos ">
                                            
                                            <td>
                                            
                                              {{producto.codigo}}  
                                            </td>
                                            <td>
                                                {{producto.descripcion}}
                                            </td>
                                            <td>
                                                {{producto.stock}}
                                            </td>
                                            <td>
                                                {{producto.medida}}
                                            </td>
                                            <td>
                                                {{producto.marca}}
                                            </td>
                                            <td>
                                                {{producto.precioC  | currency:'S/.'}}
                                            </td>
                                            <td>
                                                {{producto.precioV  | currency:'S/.'}}
                                            </td>
                                           <td>
                                                {{producto.observacion}}
                                            </td>
                                            <td>
                                                <i class="bx bxs-edit-alt text-success btn-lg" title="Editar"></i>
                                                <i class="bx bxs-trash text-danger btn-lg" title="Eliminar"></i>
                                                <i class="bx bx-show text-dark btn-lg" title="Mas Detalles"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- End table -->
                                <div class="row justify-content-md-between align-items-md-center mt-2">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info mb-2" id="tickets-table_info" role="status"
                                            aria-live="polite">
                                            Mostrando
                                            {{service.startIndex + 1}} a
                                            {{service.endIndex}} de {{service.totalRecords}}
                                            entradas.
                                        </div>
                                    </div>
                                    <!-- Pagination -->
                                    <div class="col-sm-12 col-md-5">
                                        <div class="text-md-right float-md-end pagination-rounded">
                                            <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page"
                                                [pageSize]="service.pageSize">
                                            </ngb-pagination>
                                        </div>
                                    </div>
                                    <!-- End Pagination -->
                                </div>
                                <button type="button" class="btn btn-success btn-rounded mb-2 me-2"  routerLink="/productos/nuevoProducto">
                                    <i class="mdi mdi-plus mr-1"></i>
                                    Agregar Nuevo Producto</button>
                            </ng-template>
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="nav" class="mt-4"></div>
                </div>
            </div>
        </div>
    </div>

</div>
